version: "3.9"

volumes:
  pihole-volume:
    name: pihole
  dnsmasq.d-volume:
    name: pihole-dnsmasq.d
  wireguard-private-volume:
    name: wireguard-private-config

networks:
  private-network:
    name: pwn-private
    ipam:
      driver: default
      config:
        - subnet: 10.2.0.0/24

services:
  unbound:
    image: "mvance/unbound:latest"
    container_name: unbound
    restart: unless-stopped
    hostname: "unbound"
    volumes:
      - "./unbound:/opt/unbound/etc/unbound/"
    networks:
      private-network:
        ipv4_address: 10.2.0.200

  wireguard-private:
    depends_on: [unbound, pihole]
    image: linuxserver/wireguard
    container_name: wireguard-private
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York # Change to your timezone.
      - SERVERPORT=50000
      - PEERS=1 # Number of Client profiles (Change change this in portainer)
      - PEERDNS=10.2.0.100 # points to Pihole
      - INTERNAL_SUBNET=10.6.0.0 # Subnet for all wireguard connections.
      - ALLOWEDIPS='10.6.0.0/24, 10.2.0.0/24' # To tunnel all network, remove this line.'
    volumes:
      - wireguard-private-volume:/config
      - /lib/modules:/lib/modules
    ports:
      - "50000:51820/udp"
    dns:
      - 10.2.0.100 # points to Pihole
      - 10.2.0.200 # points to Unbound
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped
    networks:
      private-network:
        ipv4_address: 10.2.0.3

  pihole:
    depends_on: [unbound]
    container_name: pihole
    image: pihole/pihole:latest
    restart: unless-stopped
    hostname: pihole
    dns:
      - 127.0.0.1
      - 10.2.0.200 # points to Unbound
    environment:
      TZ: "America/New_York"
      WEBPASSWORD: ""
      ServerIP: 10.1.0.100
      PIHOLE_DNS_: 10.2.0.200;10.2.0.200 # points to Unbound
    volumes:
      - pihole-volume/:/etc/pihole/
      - dnsmasq.d-volume/:/etc/dnsmasq.d/
    cap_add:
      - NET_ADMIN
    networks:
      private-network:
        ipv4_address: 10.2.0.100